.diary-layout {
  height: 100vh;
  display: flex;
}

.sidebar, .sidebar_active {
  width: 400px; 
  min-width: 400px;
  border-right: 2px solid #a45de2; 
  text-align: center; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  height: 100vh;
  position: relative;
  .sidebar-header {
    color: #e2e2e2;
    padding: 20px 20px;
    border-bottom: 1px solid #a45de2;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 50px;
      height: 50px;
      padding: 10px;
      border-radius: 5px;
      transition: all 0.2s;
      cursor: pointer;
      &:hover {
        background: #2c2d74;
      }
    }
    input {
      width: 300px;
      background: none;
      border: 2px solid #6838a2;
      padding: 10px;
      border-radius: 10px;
      outline: none;
    }
  }
  .sidebar__content {
    flex-grow: 1;
    height: calc(100% - 100px);
    overflow-y: auto;
    &::-webkit-scrollbar {
      width:  7px;
      height: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: #af74f7;
      border-radius: 10px;
    }
    h2 {
      font-size: 32px;
      color: #e2e2e2;
      margin-top: 30px;
      span {
        font-size: 24px;
        word-spacing: 1px;
        border: none;
      }
    }
    .sidebar__notes {
      .sidebar__note {
        color: #e2e2e2;
        text-align: left;
        padding: 10px;
        border: 1px solid #a45de2;
        margin: 10px;
        border-radius: 10px;
        transition: all 0.2s;
        position: relative;
        .sidebar__note_title {
          font-size: 20px;
          border: none;
        }
        p {
          word-break: break-all;
        }
        .sidebar__note_date {
          font-size: 16px;
          color: #b8b8b8;
          border: none;
        }
        &:hover {
          background: #af74f7;
          cursor: pointer;
        }
      }
    }
  }
  button {
    width: 65px;
    height: 65px;
    background: #6838a2;
    border-radius: 50%;
    transition: all 0.2s;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 32px);
    img {
      width: 40px;
      transform: rotate(45deg);
      margin: 0 auto;
    }
    &:hover {
      background-color: #a45de2;
    }
  }
}

.home-page, .home-page_active {
  text-align: center;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 30px;
  h1 {
    font-size: 38px;
    color: #e2e2e2;
  }
  .home-page__content {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background: #3b3c6b;
    border-radius: 20px;
    text-align: left;
    padding: 30px;
    position: relative;
    color: #e2e2e2;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width:  7px;
      height: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: #af74f7;
      border-radius: 10px;
    }
    h2 {
      font-size: 48px;
      word-break: break-all;
    }
    p {
      font-size: 32px;
      word-break: break-all;
      margin-bottom: auto;
    }
    span {
      position: relative;
      align-self: flex-end;
      font-size: 20px;
    }
    .close-note {
      width: 25px;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer; 
    }
    .home-page__note-control {
      width: 50px;
      img {
        width: 28px;
        padding: 5px;
        border-radius: 3px;
        transition: all 0.2s;
        cursor: pointer;
        &:hover {
          background: #5a5cc6;
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .sidebar {
    width: 100%;
    border: none;
  }

  .sidebar_active {
    display: none;
  }
  
  .home-page {
    display: none;
  }

  .home-page_active {
    width: 100%;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 30px;
    h1 {
      display: none;
    }
    .home-page__content {
      display: flex; 
      flex-direction: column; 
      justify-content: space-between;
      height: 100%;
      width: 100%;
      background: #3b3c6b;
      border-radius: 20px;
      text-align: left;
      padding: 30px;
      position: relative;
      color: #e2e2e2;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width:  7px;
        height: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background: #af74f7;
        border-radius: 10px;
      }
      h2 {
        font-size: 48px;
      }
      p {
        font-size: 32px;
        word-break: break-all;
        margin-bottom: auto;
      }
      span {
        position: relative;
        align-self: flex-end;
        font-size: 24px;
      }
      .home-page__note-control {
        width: 70px;
        img {
          width: 30px;
        }
      }
    }
  }
}

@media (max-width: 490px) {
  .sidebar {
    .sidebar-header {
      img {
        margin-right: 5px;
      }
    }
    .sidebar__content {
      .sidebar__notes {
        .sidebar__note {
          width: auto;
          span {
            font-size: 16px;
          }
          p {
            font-size: 12px;
          }
        }
      }
    }
  }
  .home-page_active {
    .home-page__content {
      padding: 15px;
      h2 {
        font-size: 34px;
      }
      p {
        font-size: 22px;
      }
      .close-note {
        width: 20px;
      }
      span {
        font-size: 16px;
      }
      .home-page__note-control {
        width: 50px;
        img {
          width: 24px;
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .sidebar {
    min-width: 0px;
  }
  .home-page_active {
    .home-page__content {
      h2 {
        font-size: 24px;
      }
      p {
        font-size: 12px;
      }
    }
  }
}