.login {
  color: #e2e2e2;
  .login__content {
    border: 1px solid #6838a2;
    width: 400px;
    height: 500px;
    box-shadow: 0px 0px 30px 10px #213062;
    border-radius: 5px;
    .login__title {
      h1 {
        font-size: 32px;
        padding: 10px 0;
        border-bottom: 1px solid #6838a2;
      }
    }
    .login__inputs {
      padding: 0 10px;
      margin: 85px 0;
      input {
        width: 100%;
        margin-bottom: 10px;
        background: none;
        border: 2px solid #6838a2;
        text-decoration: none;
        outline: none;
        padding: 10px;
      }
      .login-password {
        padding-right: 45px;
      }
    }
    .login__buttons {
      button, a {
        box-shadow: 0px 6px 7px 3px #213062;
        background-color:#3d5788;
        border-radius:8px;
        border:1px solid #4e6096;
        display:inline-block;
        cursor:pointer;
        color:#e2e2e2;
        font-family:Arial;
        font-size:21px;
        padding:5px 51px;
        text-decoration:none;
        text-shadow:0px 0px 0px #283966;
        transition: all 0.3s;
        width: 95%;
        &:hover {
          background-color:#3c68ba;
        }
        .button-text {
          margin: 0;
        }
      }
      span {
        display: inline-block;
        width: 100%;
        margin-top: 6px;
      }
    }
  }
}

@media (max-width: 450px) {
  .login {
    .login__content {
      width: 300px;
    }
  }
}

@media (min-width: 1600px) {
  .login {
    .login__content {
      width: 600px;
      height: 700px;
      .login__inputs {
        margin: 183px 0;
      }
    }
  }
}