html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: 'Epilogue';
  overflow: hidden;
  background: linear-gradient(0deg, rgba(121,81,148,1) 7%, rgba(10,25,77,1) 100%);
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

p, a {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.ua {
  font-family: 'Roboto';
  .app-language {
    font-family: 'Epilogue';
  }
  .home {
    .home__links {
      width: 470px;
      a {
        padding: 0;
        width: 225px;
        padding: 5px;
      }
    }
  }
}

.select {
  position: relative;
  width: 150px;
  cursor: pointer;
  .option__wrapper {
    position: absolute;
    background: #a45de2;
    border-radius: 10px;
    z-index: 2;
    width: 100%;
  }
  .select__option {
  border: 2px solid #a45de2;
  border-radius: 8px;
  background: #a45de2;
  color: #ffffff;
  outline: none;
  font-family: 'Inter', sans-serif;
  padding: 7px 10px 6px 7px;
  width: 150px;
  position: relative;
  text-align: center;
  transition: all 0.2s;
  &:hover {
    background: #6838a2;
  }
  }
  .option {
    padding: 8px;
    border: 1px solid #6838a2;
    transition: all 0.2s;
    &:hover {
      background: #6838a2;
    }
    &:first-of-type {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    &:last-of-type {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}